/*Body*/
body {
    font-family: 'Microsoft YaHei UI';
}
/*Loign*/
.check-code {
    width: 100%;
    height: 34px;
    cursor: pointer;
}
/*Table Row*/
table tr th {
    text-align: center;
    background: #f5f5f5;
}

table tr td {
    text-align: center;
}

    table tr td.left {
        text-align: left;
    }

.table-no {
    width: 60px;
}

.table-operate-1 {
    width: 100px;
}

.table-operate-2 {
    width: 160px;
}

.enable {
    color: #808080;
}

    .enable:hover {
        color: #808080;
    }

.user-role-btn {
    margin: 0px auto;
    margin-bottom: 10px;
}

.blank {
    clear: both;
    display: block;
    font: 0px/0px sans-serif;
}

.reveal-modal-inner-wrapper {
    height: 400px;
    overflow: scroll;
    background: #ffffff;
}
.page-role {
    display: none;
}